#!/usr/bin/make -f

export DH_VERBOSE = 1

ARCH = $(shell dpkg-architecture -qDEB_HOST_ARCH)

%:
	dh $@

override_dh_auto_build:
	cp prebuilt/nibble_linux_$(ARCH) nibble

override_dh_auto_install:
	install -D -m 0755 nibble debian/nibble/usr/bin/nibble

override_dh_auto_test:

override_dh_auto_clean:
	rm -f nibble
